* {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
}

body {
	background-image: url(https://img.freepik.com/free-vector/black-wallpaper-with-motion-lines-background_1017-30151.jpg);
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	background-clip: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}

.header {
	background: rgba(230, 0, 172, 0.8);
}

.header__li__img-logo:hover {
	filter: invert(100%) drop-shadow(0px 0px 1px #e600ac);
	transition: 0.8s;
}

.header__li__img-logo {
	height: 50px;
}

.header a:hover {
	font-size: 17px;
	text-shadow: 0 0 1px #000;
	transition: font-size 0.5s, text-shadow 0.5s;
	color: #fff;
}

.header a {
	color: #000;
}

.main__logo {
	width: 80%;
	animation-name: aparecer;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	filter: drop-shadow(1px 1px 10px #e600ac);
}

@keyframes aparecer {
	0% {
		filter: blur(200px) brightness(0.0);
	}
	100% {
		filter: blur(0) brightness(1.0) drop-shadow(1px 1px 10px #e600ac);
	}
}

@media screen and (min-width: 50px) and (max-width: 250px) {
	.carousel-img {
		height: 100px;
	}
}

@media screen and (min-width: 250px) and (max-width: 500px) {
	.carousel-img {
		height: 200px;
	}
}

@media screen and (min-width: 500px) and (max-width: 900px) {
	.carousel-img {
		height: 300px;
	}
}

@media screen and (min-width: 900px) and (max-width: 5000px) {
	.carousel-img {
		height: 400px;
	}
}

.footer {
	background: rgba(230, 0, 172, 0.8);
	height: 50px;
	padding: 10px;
	
}

.footer__ul {
	list-style-type: none;
}

.footer__img {
	height: 30px;
}

.footer__li:hover {
	filter: drop-shadow(1px 1px 5px #fff);
	transition: .5s;
}

.productos {
	filter: drop-shadow(1px 1px 5px #e600ac);	
}

.productos:hover{
	filter: drop-shadow(1px 1px 5px #fff);
	transition: ease-in-out .5s;
}

.img-altura {
	height: 300px;
}

.select {
	max-width: 85%
}

.bolsa-boton:hover {
	filter: drop-shadow(1px 1px 5px #fff);
	transition: ease-in-out .5s;
}

.bolsa-boton {
	z-index: 9999;
}

.bolsa {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	min-width: 50vw;
	max-width: 50vw;
}

.boton-vaciar{
	max-width: 40vw;
	z-index: 9999;
}

.fondo-collapse {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(230, 0, 172, 0.5);
	z-index: 9998;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}